<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vp6.anish.madguysmarketers">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_SMS"/>
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>

    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality.
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->

    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-feature android:name="android.hardware.location.gps" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ListingActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".AddCafeActivity"
            android:label="@string/title_activity_add_cafe"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".GalleryActivity"
            android:label="@string/title_activity_gallery"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AddCoachingActivity"
            android:label="@string/title_activity_add_coaching"
            android:theme="@style/AppTheme.NoActionBar" />
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".MapsActivity"
            android:label="@string/title_activity_maps" />

        <uses-library android:name="com.google.android.maps" />

        <activity android:name=".OtpActivity" />
        <activity
            android:name=".UserListActivity"
            android:label="@string/title_activity_user_list"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name=".UserAuthenticateActivity" />


        <activity android:name=".CafeDisplayActivity"
            android:theme="@style/DisplayTheme"/>


        <activity android:name=".CoachingDisplayActivity"
            android:theme="@style/DisplayTheme"/>
        <activity
            android:name=".EditCafeActivity"
            android:label="@string/title_activity_edit_cafe"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EditCoachingActivity"
            android:label="@string/title_activity_edit_coaching"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LocationDisplayActivity"
            android:label="@string/title_activity_location_display" />

        <service
            android:name=".LocationService"
            android:enabled="true" />

        <!-- <receiver android:name="com.vp6.anish.madguysmarketers.CallBroadCastReceiver"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.PHONE_STATE" /> -->
        <!-- <action android:name="android.intent.action.NEW_OUTGOING_CALL" /> -->
        <!-- <category android:name="android.intent.category.DEFAULT" /> -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->

        <receiver android:name=".BootCompleteReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="com.android.locservice" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <receiver android:name=".SmsListener">
            <intent-filter android:priority="99999">
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <activity android:name=".MeetingActivity" />
        <activity
            android:name=".UserLocationActivity"
            android:label="@string/title_activity_user_location" />
        <activity android:name=".PermissionActivity" />
        <activity
            android:name=".MemberProfile"
            android:label="@string/title_activity_member_profile"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EditMemberProfileActivity"
            android:label="@string/title_activity_edit_member_profile" />

        <!--
 ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".HelpActivity"
            android:parentActivityName=".ListingActivity"/>
    </application>

</manifest>